Repository FLearningg/FLearning_App, pull requests merged in 2025-07, with the labels that each got.

#16 [FLNAPP-25][Thien][UI] Create BottomNav component
  src/screens/courses/BottomNav.tsx
  src/screens/courses/OnlineCourses.tsx
  src/screens/courses/PopularCourses.tsx
Labels: Course

#15 [FLNAPP-24][UI] Add loading component
  src/components/Loading/LoadingComponent.tsx
  src/components/Loading/Tutorial.md
  src/screens/authentication/LoginPage.tsx
Labels: enhancement

#19 [FLNAPP-27][UI] Add component GoBackButton, resolve warning in app.json
  app.json
  src/components/GoBackButton.tsx
  src/components/GoBackButtonTutorial.md
  src/screens/authentication/FillProfileHeader.tsx
Labels: enhancement, Component UI

#21 [Fix][UI] Add case ACCOUNT_BANNED
  src/screens/authentication/LoginPage.tsx
Labels: bug

#22 [feat][FLNAPP-21][Hoang][UI] Apply API for Profile
  package.json
  src/navigation/MainRoute.tsx
  src/redux/services/profileService.ts
  src/screens/Profile/EditPasswordScreen.tsx
  src/screens/Profile/EditProfileScreen.tsx
  src/screens/Profile/ProfileScreen.tsx
Labels: Apply API, Profile

#18 [FLNAPP-20][UI] Add My Course Screen and Complete Course Modal + Apply API
  assets/styles/CourseCompletedStyles.tsx
  assets/styles/MyCoursesStyles.tsx
  assets/styles/OnlineCourseStyles.tsx
  src/navigation/MainRoute.tsx
  src/redux/services/progressService.ts
  src/redux/store/index.ts
  src/redux/store/progressSlice.ts
  src/screens/CourseCompleted/CourseCompletedModal.tsx
  src/screens/MyCourses/MyCoursesScreen.tsx
  src/screens/courses/BottomNav.tsx
  src/screens/courses/CourseCard.tsx
  src/types/NavigationType.ts
Labels: enhancement, Apply API

#23 [FLNAPP-28][Trung][UI] Add notification screen and apply api, Hotfix login state
  App.tsx
  assets/styles/NotificationScreen/NotificationScreenStyles.tsx
  src/navigation/MainRoute.tsx
  src/redux/services/notificationService.ts
  src/redux/store/index.ts
  src/redux/store/notificationSlice.ts
  src/screens/HomeScreen/HomeScreen.tsx
  src/screens/Notification/NotificationHeader.tsx
  src/screens/Notification/NotificationScreen.tsx
  src/types/NavigationType.ts
Labels: bug, Authentication, Apply API, Notification

#24 [FLNAPP-29][Hoang][UI] Update course detail enroll
  package.json
  src/redux/services/courseService.ts
  src/screens/CourseDetail/CourseDetail.tsx
  src/screens/CourseDetail/CourseDetailAbout.tsx
  src/screens/CourseDetail/CourseDetailCurriculum.tsx
  src/screens/HomeScreen/HomeScreen.tsx
  src/types/NavigationType.ts
Labels: Course Detail, Apply API

#25 [FLNAPP-28][UI][Fix] Fix missing case empty notification, wrong render when switch user.
  assets/images/no_notification.jpg
  assets/styles/NotificationScreen/NotificationScreenStyles.tsx
  src/navigation/MainRoute.tsx
  src/screens/Notification/NotificationHeader.tsx
  src/screens/Notification/NotificationScreen.tsx
Labels: bug, Notification

#27 [FLNAPP-30][API] Apply api to home page
  assets/styles/HomeScreen/HomeScreenStyles.tsx
  src/navigation/MainRoute.tsx
  src/redux/services/categoryService.ts
  src/redux/services/courseService.ts
  src/redux/store/categorySlice.ts
  src/redux/store/index.ts
  src/screens/HomeScreen/HomeScreen.tsx
Labels: Apply API

#32 [FLNAPP-32][Thien][UI] Add logic flow after payment
  src/redux/services/courseService.ts
  src/redux/services/paymentService.ts
  src/screens/Cart/Cart.tsx
  src/screens/Cart/PaymentModal.tsx
Labels: payment

#31 [FLNAPP-34][UI] Make search, category fillter at HomeScreen working
  assets/styles/MyCoursesStyles.tsx
  src/components/Launching.tsx
  src/navigation/BottomTabNavigator.tsx
  src/screens/CategoryScreen/CategoryScreen.tsx
  src/screens/HomeScreen/HomeScreen.tsx
  src/screens/MyCourses/MyCoursesScreen.tsx
  src/screens/SearchScreen/SearchScreen.tsx
  src/screens/authentication/LoginPage.tsx
  src/screens/courses/FilterComponents.tsx
  src/screens/courses/OnlineCourses.tsx
  src/types/NavigationType.ts
Labels: bug, enhancement

#36 [FLNAPP-37][Fix] Add navigate to E-Receipt and add courseId to payment
  src/redux/services/paymentService.ts
  src/screens/Cart/PaymentModal.tsx
  src/screens/ERecipe/ERecipeScreen.tsx
Labels: bug, payment

#37 [FLNAPP-38][Thien][UI] Fix fetching data
  src/screens/MyCourses/MyCoursesScreen.tsx
  src/screens/Progress/Progress.tsx
  src/screens/courses/FilterComponents.tsx
Labels: Course
